<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>TrainingCalendarDirectory</display-name>
	<servlet>
		<servlet-name>Jersey</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.training</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>UserUpdateUser</display-name>
		<servlet-name>UserUpdateUser</servlet-name>
		<servlet-class>org.training.controller.user.UserUpdateUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserUpdateUser</servlet-name>
		<url-pattern>/UserUpdateUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>UpdateUser</display-name>
		<servlet-name>UpdateUser</servlet-name>
		<servlet-class>org.training.controller.user.UpdateUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUser</servlet-name>
		<url-pattern>/UpdateUser</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>AddUser</display-name>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>org.training.controller.user.AddUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/AddUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DeleteUser</display-name>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>org.training.controller.user.DeleteUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>org.training.controller.utill.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetUsers</display-name>
		<servlet-name>GetUsers</servlet-name>
		<servlet-class>org.training.controller.user.GetUsers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUsers</servlet-name>
		<url-pattern>/GetUsers</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>User</display-name>
		<servlet-name>User</servlet-name>
		<servlet-class>org.training.controller.user.User</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/User</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>org.training.controller.utill.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>EditUserAdmin</display-name>
		<servlet-name>EditUserAdmin</servlet-name>
		<servlet-class>org.training.controller.user.EditUserAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUserAdmin</servlet-name>
		<url-pattern>/EditUserAdmin</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>EditUser</display-name>
		<servlet-name>EditUser</servlet-name>
		<servlet-class>org.training.controller.user.EditUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUser</servlet-name>
		<url-pattern>/EditUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DeleteEvent</display-name>
		<servlet-name>DeleteEvent</servlet-name>
		<servlet-class>org.training.controller.event.DeleteEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteEvent</servlet-name>
		<url-pattern>/DeleteEvent</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>AddEvent</display-name>
		<servlet-name>AddEvent</servlet-name>
		<servlet-class>org.training.controller.event.AddEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEvent</servlet-name>
		<url-pattern>/AddEvent</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>EditEvent</display-name>
		<servlet-name>EditEvent</servlet-name>
		<servlet-class>org.training.controller.event.EditEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditEvent</servlet-name>
		<url-pattern>/EditEvent</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetEvent</display-name>
		<servlet-name>GetEvent</servlet-name>
		<servlet-class>org.training.controller.event.GetEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetEvent</servlet-name>
		<url-pattern>/GetEvent</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>UpdateEvent</display-name>
		<servlet-name>UpdateEvent</servlet-name>
		<servlet-class>org.training.controller.event.UpdateEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateEvent</servlet-name>
		<url-pattern>/UpdateEvent</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>EditLocation</display-name>
		<servlet-name>EditLocation</servlet-name>
		<servlet-class>org.training.controller.location.EditLocation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditLocation</servlet-name>
		<url-pattern>/EditLocation</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>EditTopic</display-name>
		<servlet-name>EditTopic</servlet-name>
		<servlet-class>org.training.controller.topic.EditTopic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditTopic</servlet-name>
		<url-pattern>/EditTopic</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>GetLocation</display-name>
		<servlet-name>GetLocation</servlet-name>
		<servlet-class>org.training.controller.location.GetLocation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetLocation</servlet-name>
		<url-pattern>/GetLocation</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>GetTopic</display-name>
		<servlet-name>GetTopic</servlet-name>
		<servlet-class>org.training.controller.topic.GetTopic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTopic</servlet-name>
		<url-pattern>/GetTopic</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>UpdateTopic</display-name>
		<servlet-name>UpdateTopic</servlet-name>
		<servlet-class>org.training.controller.topic.UpdateTopic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateTopic</servlet-name>
		<url-pattern>/UpdateTopic</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>UpdateLocation</display-name>
		<servlet-name>UpdateLocation</servlet-name>
		<servlet-class>org.training.controller.location.UpdateLocation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateLocation</servlet-name>
		<url-pattern>/UpdateLocation</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>GetGroup</display-name>
		<servlet-name>GetGroup</servlet-name>
		<servlet-class>org.training.controller.group.GetGroup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetGroup</servlet-name>
		<url-pattern>/GetGroup</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>EditGroup</display-name>
		<servlet-name>EditGroup</servlet-name>
		<servlet-class>org.training.controller.group.EditGroup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditGroup</servlet-name>
		<url-pattern>/EditGroup</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>DeleteGroup</display-name>
		<servlet-name>DeleteGroup</servlet-name>
		<servlet-class>org.training.controller.group.DeleteGroup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteGroup</servlet-name>
		<url-pattern>/DeleteGroup</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>UpdateGroup</display-name>
		<servlet-name>UpdateGroup</servlet-name>
		<servlet-class>org.training.controller.group.UpdateGroup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateGroup</servlet-name>
		<url-pattern>/UpdateGroup</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<display-name>AddGroup</display-name>
		<servlet-name>AddGroup</servlet-name>
		<servlet-class>org.training.controller.group.AddGroup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddGroup</servlet-name>
		<url-pattern>/AddGroup</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<display-name>DeleteLocation</display-name>
		<servlet-name>DeleteLocation</servlet-name>
		<servlet-class>org.training.controller.location.DeleteLocation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteLocation</servlet-name>
		<url-pattern>/DeleteLocation</url-pattern>
	</servlet-mapping>
</web-app>